@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --background: #ffffff;
    --foreground: #171717;
    --white: #fff;
    --light-gray: rgba(255, 255, 255, 0.42);
    --gray: #777;
    --black: #111;
}


@layer base {
    p {
        @apply text-light_gray;
    }

    input,
    button,
    textarea,
    select {
        @apply font-inherit;

    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
        
        @apply text-white;
    }

    a {
        @apply no-underline;
    }


    body {
        @apply bg-black;
    }
}